---
layout: archive
---

<h1>About Me</h1>

<p>August Guang, Genomics Data Scientist @ <a href="https://www.brown.edu/research/projects/computational-biology-of-human-disease/">Brown University's Computational Biology Core</a> and Healing Coordinator @ <a href="http://prysm.us">Providence Youth Student Movement</a>.</p>

<p>I obtained my PhD in Applied Mathematics and Computational Biology from Brown University in 2017. My primary research interest is in quantifying uncertainty; my dissertation was on uncertainty in phylogenetic workflows with an application to HIV transmission inference. In a way, that is also my motivation and mantra in community organizing: becoming comfortable with uncertainty and always pushing for change.</p>