---
layout: archive
---

<h1>About Me</h1>

<p>August Guang, 6th-year PhD Student in Applied Mathematics and Computational Biology at Brown. I study uncertainty in phylogenetic workflows with an application to HIV transmission inference. Currently looking for research positions in industry or academia.</p>

<p>I also do community organizing, previously as the Queer Justice Coordinator and more recently as a Healing Process Coordinator with the <a href="http://prysm.us">Providence Youth Student Movement</a>, a youth-led organization dedicated to ending state, street, and interpersonal violence within the Southeast Asian community in Providence.</p>